Repository konveyor/crane-lib, pull requests merged in 2021-07, with the labels that each got.

#34 Add plugin-priorities to transform.Runner
  transform/binary-plugin/binary_plugin.go
  transform/cli/cli.go
  transform/kubernetes/kubernetes.go
  transform/plugin.go
  transform/runner.go
  transform/runner_test.go
Labels: transform-lib

#33 Adding the ability return metadata for a plugin
  transform/binary-plugin/binary_plugin.go
  transform/binary-plugin/binary_plugin_test.go
  transform/binary-plugin/examples/openshift/cmd.go
  transform/binary-plugin/examples/test/annotation/annotation.go
  transform/binary-plugin/examples/test/whiteout-all/whiteout-all.go
  transform/binary-plugin/examples/test/whiteout-pods/whiteout-pods.go
  transform/cli/cli.go
  transform/cli/cli_test.go
  transform/kubernetes/kubernetes.go
  transform/kubernetes/kubernetes_test.go
  transform/plugin.go
  transform/runner.go
  transform/runner_test.go
Labels: transform-lib

#37 refactor into different packages and remove cyclic imports
  state_transfer/endpoint.go
  state_transfer/endpoint/endpoint.go
  state_transfer/endpoint/load_balancer/load_balancer.go
  state_transfer/endpoint/route/route.go
  state_transfer/labels/labels.go
  state_transfer/load_balancer_endpoint.go
  state_transfer/null_transport_client.go
  state_transfer/null_transport_server.go
  state_transfer/route_endpoint.go
  state_transfer/transfer/rclone/client.go
  state_transfer/transfer/rclone/rclone.go
  state_transfer/transfer/rclone/server.go
  state_transfer/transfer/rsync/client.go
  state_transfer/transfer/rsync/rsync.go
  state_transfer/transfer/rsync/server.go
  state_transfer/transfer/transfer.go
  state_transfer/transport/null/client.go
  state_transfer/transport/null/common.go
  state_transfer/transport/null/server.go
  state_transfer/transport/stunnel/client.go
  state_transfer/transport/stunnel/common.go
  state_transfer/transport/stunnel/server.go
  state_transfer/transport/transport.go
Labels: state-lib

#36 Add Proxy Support
  state_transfer/example_test.go
  state_transfer/transport/null/null.go
  state_transfer/transport/stunnel/client.go
  state_transfer/transport/stunnel/stunnel.go
  state_transfer/transport/transport.go
Labels: enhancement, state-lib
